.container{
    width : 500px;
    height : 500px;
    margin : auto;
    background-color: azure;
}
.grid-item{
    border-style: groove;
    border-width: 0.5px;
}
#name{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline;
}

.dark{
     background-color: #4e4e4e04;
     text-emphasis-color: white;
     font-family: 'Ubuntu Condensed', sans-serif;
    }
#title{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline;
    margin : auto;
}
#explanation{
    font-family: 'Ubuntu Condensed', sans-serif;
    height : 3rem;
}

#change{
    font-family: 'Ubuntu Condensed', sans-serif;
    

}